In [1]:
#Using the range() function:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [2]:
#Using the start parameter:
for x in range(2, 6):
    print(x)

2
3
4
5

In [3]:
#Increment the sequence with 3 (default is 1):
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [4]:
#Else in For Loop
#Print all numbers from 0 to 5, and print a message when the loop has ended:
for x in range(6):
    print(x)
else:
    print("Finally finished!")  #Note: The else block will NOT be executed if the loop is stopped by a break statement.

0
1
2
3
4
5
Finally finished!

In [10]:
#Break the loop when x is 3, and see what happens with the else block:
for x in range(6):
    if x == 3: break
    print(x)
else:
     print("Finally finished!") ##If the loop breaks, the else block is not executed.

0
1
2

In [13]:
#Nested Loops

#A nested loop is a loop inside a loop.

#The "inner loop" will be executed one time for each iteration of the "outer loop":
#Print each adjective for every fruit:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [14]:
#for loops cannot be empty, but if you for ....
#some reason have a for loop with no content, put in the pass statement to avoid getting an error.
for x in [0, 1, 2]:
    pass

In [2]:
#Python Functions
def my_function():
    print("Hello from a function") 
    ##for calling the function
    my_function()
    ##Arguments are specified after the function name, inside the parentheses.
    ##You can add as many arguments as you want, just separate them with a comma.

In [3]:
def my_function(fname):
    print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [4]:
def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [6]:
##If the number of arguments is unknown, add a * before the parameter name:
def my_function(*kids):
    print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [7]:
def my_function(child3, child2, child1):
    print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [8]:
##If the number of keyword arguments is unknown, add a double ** before the parameter name:
def my_function(**kid):
    print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [9]:
#The following example shows how to use a default parameter value.

#If we call the function without argument, it uses the default value:
def my_function(country = "Norway"):
    print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [10]:
#Passing a List as an Argument
def my_function(food):
    for x in food:
        print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [11]:
#to let a function return a value, use the return statement:
def my_function(x):
    return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [12]:
def myfunction():
    pass

In [13]:
#Python also accepts function recursion, which means a defined function can call itself.
def tri_recursion(k):
    if(k > 0):
        result = k + tri_recursion(k - 1)
        print(result)
    else:
        result = 0
    return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [41]:
#example2
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

# Example usage
num = 5
result = factorial(num)
print("Factorial of", num, "is", result)

Factorial of 5 is 120

In [14]:
#Python Lambda
x = lambda a : a + 10
print(x(5))

15

In [15]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [16]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [17]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [18]:
def myfunc(n):
    return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [19]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [23]:
#Python does not have built-in support for Arrays, but Python Lists can be used instead.
#o work with arrays in Python you will have to import a library, like the NumPy library.
#Arrays are used to store multiple values in one single variable:
cars = ["Ford", "Volvo", "BMW"] 
x = cars[0] 
cars[0] = "Toyota"
print(cars)

['Toyota', 'Volvo', 'BMW']

In [25]:
x = len(cars)
print(x)

3

In [26]:
#Python Classes and Objects
#To create a class, use the keyword class:
class MyClass:
    x = 5

In [27]:
#Create an object named p1, and print the value of x:
p1 = MyClass()
print(p1.x)

5

In [28]:
#The __init__() Function
#All classes have a function called __init__(), which is always executed when the class is being initiated.

#Use the __init__() function to assign values to object properties,
#or other operations that are necessary to do when the object is being created:
class Person:
     def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [ ]:
#the __init__() function is called automatically every time the class is being used to create a new object.

In [ ]:
#the __str__() Function

#The __str__() function controls what should be returned when the class object is represented as a string.

#If the __str__() function is not set, the string representation of the object is returned:

In [29]:
#The string representation of an object WITHOUT the __str__() function:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("John", 36)

print(p1)

<__main__.Person object at 0x7f3a945672b0>

In [30]:
#The string representation of an object WITH the __str__() function:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

In [31]:
#Object Methods
#Objects can also contain methods. Methods in objects are functions that belong to the object.

#Let us create a method in the Person class:

#Insert a function that prints a greeting, and execute it on the p1 object:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self):
        print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()                  #The self parameter is a reference to the current instance of the class, 
                               #and is used to access variables that belong to the class.

Hello my name is John

In [35]:
#The self Parameter

#The self parameter is a reference to the current instance of the class,
#and is used to access variables that belongs to the class.

#It does not have to be named self , you can call it whatever you like,
#but it has to be the first parameter of any function in the class:
#Use the words mysillyobject and abc instead of self:
class Person:
    def __init__(mysillyobject, name, age):
        mysillyobject.name = name
        mysillyobject.age = age

    def myfunc(abc):
        print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [38]:
#Modify Object Properties
p1.age = 40
print(p1.age)

40

In [39]:
#Delete Object Properties
del p1.age

In [ ]:
#Python Inheritance